body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    height: 100vh;
}

#control-panel {
    width: 30%;
    padding: 1rem;
    background-color: #222;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}


#patching-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #333;
    position: relative;
    overflow-y: auto;
}

#patching-canvas {
    position: relative;
    height: 100%;
    background-color: #444;
}

.node {
    width: 150px;
    height: 100px;
    background-color: #555;
    border: 2px solid #888;
    margin: 10px;
    padding: 10px;
    color: white;
    cursor: move;
    position: absolute;
}

.node h3 {
    margin: 0;
    font-size: 14px;
}

#visualizer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: relative;
}

#video-preview {
    max-width: 100%;
    max-height: 50%;
}

canvas {
    width: 100%;
    height: 50%;
    background-color: #111;
}
